<div class="container">
  <h1>{{product.name}} <small>{{product.category.name}}</small></h1>

  <div class="row">
    <div class="col-md-5">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{product.imageProductLocation}}" height="500" width="750" class="d-block w-100" alt="...">
          </div>
          <div *ngFor="let item of product.images" class="carousel-item ">
            <img src="{{item.imageLocation}}" height="500" width="750" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    <div class="col-md-7">
      <div class="container">
        <h2>Giá</h2>
        <p>
          {{product.price|currency: 'VND'}}
        </p>
      </div>
      <div class="container">
        <h3>Decription</h3>
        <p [innerHTML]="product.detail" id="productDescription" class="text-break">
        </p>
        <form [formGroup]="formTypeProduct" (ngSubmit)="submitToCart()">
          <h3>
            Colors
          </h3>
          <div  class="row container">
            <button *ngFor="let item of colors" (click)="GetColor(item.id)" [ngStyle]="{'background': item.colorData }" class="colors col-md-1 btn m-2">  </button>
          </div>
          <input type="hidden" id= "color" formControlName="colorId">
          <input type="hidden" formControlName="productId" value="{{product.id}}">
          <h3>Size</h3>
          <div>
            <div class="form-group">
              <select  formControlName="sizeId" class="form-control" >
                <option value="{{item.id}}" *ngFor="let item of sizes">{{item.name}}</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-warning "><i style="font-size: 45px;"
              class="fa fa-cart-arrow-down fa5x "></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h3> Các sản phẩm khác</h3>
    <div class="row">
      <div *ngFor="let item of products" class="col-md-3 my-1">
        <div class="cardProducts card text-left">
          <img class="card-img-top" height="200" width="100" src="{{item.imageProductLocation}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{item.name}}</h4>
            <div>
             {{item.category.name}}<p>
               {{item.price|currency:'VND'}}
              </p>
              <a [routerLink]="['/shop', product.id]" class="btn btn-outline-warning m-1">Xem</a>
              <a [routerLink]="['/shop', product.id]" class="btn btn-outline-warning m-1" class="btn btn-outline-success m-1">Mua</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
