<div class="container-fluid px-5 mb-5">
  <div class="d-flex justify-content-center">
    <form action="" method="post">

    </form>
  </div>
  <div class="row">
    <div id="select-bar" class="col-sm-2">

    </div>
    <div class="col-sm-10">
      <div class="row">
        <div *ngFor="let product of products" class=" card-product m-1 mb-5 col-lg-3 col-s-12">
          <div class="card">
            <img class="card-img product-image" src="{{product.imageProductLocation}}" width="200" height=300>
            <div class="card-img-overlay d-flex justify-content-end">
              <a href="#" class="card-link text-danger like">
                <i class="fas fa-heart"></i>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title"><a href="">{{product.name}}</a></h4>
              <p class="card-subtitle mb-1 text-muted">{{product.category.name}}</p>
              <div class="buy d-flex justify-content-between align-items-center">
                <div class="price text-success">
                  <h5 class="mt-4">{{product.price|currency:'VND'}}</h5>
                </div>
                 <a href="#" class="btn btn-outline-warning mt-3 mx-1"><i class="fas fa-info-circle"></i></a>
                <a href="#" class="btn btn-outline-danger mt-3 mx-1"><i class="fas fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container d-flex justify-content-center px-5 ">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item "><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
