<div class="container-fluid px-5 mb-5">
  <div class="d-flex justify-content-center">
    <form action="" method="post">

    </form>
  </div>
  <div class="row">
    <div id="select-bar" class="col-sm-2 ">
      <div> </div>
      <ul class="nav flex-column">
        <li class="m-1 nav-item" *ngFor="let category of categories"><a class="nav-link" href="">{{category.name}} </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div *ngFor="let product of products" class="card-product m-1 mb-5 col-lg-3 col-s-12">
          <div class="card">
            <img class="card-img-top" height="300" width="200" src="{{product.imageProductLocation}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{product.name}}</h4>
              <p class="card-text">{{product.category.name}}</p>
              <p class="card-text text-success">
                {{product.price|currency: 'VND'}}
              </p>
              <a class="btn btn-outline-warning m-1"[routerLink]="['/shop', product.id]"><i class="fas fa-info-circle"></i></a>
              <a class="btn btn-outline-danger m-1" href="/"><i class="fas fa-cart-arrow-down"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container d-flex justify-content-center px-5 ">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item "><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
